/*
 * Copyright (c) 2024 Infineon Technologies AG
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	aliases {
		optiga-i2c = &arduino_i2c;
        optiga-reset = &reset_gpio;
        optiga-vdd = &vdd_gpio;
        sw1 = &switch;
	};

	optiga_gpios {
        compatible = "gpio-keys";
        reset_gpio: pin_reset {
            gpios = <&arduino_header 10 GPIO_ACTIVE_LOW>; /* D4 */
            label = "RESET GPIO";
        };
        vdd_gpio: pin_vdd {
            gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; /* D7 */
            label = "VDD GPIO";
        };
        switch: pin_switch {
            gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;  /* D9 */
            label = "Switch";
        };
    };
};

&arduino_i2c {
	clock-frequency = <I2C_BITRATE_FAST>;
};